<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.splashtop.wired-xdisplay</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Splashtop XDisplay.app/Contents/MacOS/Splashtop XDisplay</string>
		<string>RunAtLogin</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
